<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0" metadata-complete="false">
	<!--  metadata를 false로 하면 @webServlet("url")로 바로 사용가능-->
	<welcome-file-list>
		<welcome-file>main</welcome-file>
	</welcome-file-list>
	<!--
	<servlet>
		<servlet-name>helloWorld</servlet-name>
		<servlet-class>org.mingi.servlets.examples.HelloWorldServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>org.mingi.servlets.examples.HelloServlets</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>helloWorld</servlet-name>
		<url-pattern>/helloWorld</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	-->
</web-app>